/* 모달 //S */
.modal_wrap {display:block;position:fixed;top:0;left:0;width:100%;height:100vh;background: rgba(0,0,0,0.4);z-index:999;}
h4.mo_title {font-size: 21px;font-weight: 700;margin:0 0 20px;padding: 0 0 10px;border-bottom: 1px solid #ddd;}
h4.notice_title {font-size: 32px;font-weight: 700;margin:0 0 10px;}
h4.notice_title + p.notice_date {font-size: 18px;color:#818181;border-bottom: 1px solid #ddd;padding: 0 0 10px;margin:0 0 20px;}
div.mo_title {font-size: 21px;font-weight: 700;margin:0 0 20px;padding: 0 0 10px;border-bottom: 1px solid #ddd;display:flex;justify-content: space-between;}
div.mo_title > h4{font-size: 21px;font-weight: 700;}
.mo_subtitle {font-size:18px;font-weight: 700;margin:0 0 14px;}
/* .modal_wrap {position:fixed;top:0;left:0;width:100%;height:100vh;overflow:hidden;background: rgba(0,0,0,0.4);z-index:999;} */
.modal_wrap .modal {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%); box-shadow: 5px 5px 15px rgba(0,0,0,0.1);background:#fff;padding:40px;max-height:840px;overflow-y:scroll;z-index:999;border-radius: 5px;}
.modal{ -ms-overflow-style: none; } .modal::-webkit-scrollbar{ display:none; }
.modal_wrap .modal .modal_close {position:absolute;top:42px;right:50px;cursor:pointer;}
.modal_wrap .modal .modal_close img {width: 14px;}
.modal_wrap .fileicon img {width:20px;vertical-align: middle;}
.modal_wrap .fileicon a {display:inline-block;margin:6px 0 0;}
.modal_content {display:block;}
.modal_wrap .noti_modal {width:600px;max-height:500px;text-align: center;padding:30px;z-index:100;}

.modal_wrap .noti_modal .btn_box {margin:40px 0 0;}
.noti_modal.modal_big {width:800px;max-height:800px;text-align: center;}
.noti_modal h3 {font-size:27px;font-weight: 700;}
.noti_modal p {font-size:21px;font-weight: 500;margin:12px 0 0;}
.noti_modal .noti_icon {text-align:center;display: block;margin:0 0 24px;}
.noti_modal .noti_icon img {width: 80px;}
.block {display:block;}

.MuiBackdrop-root {background:none !important;}



/* 리액트 변환함 */
.modal_btn_footer_box {position:sticky;bottom:-40px;left:0;width:100%;background:#fff;padding:20px 0;margin-bottom: -40px;}
/* 모달 //E */

/* alert */
.alert_wrap {display:block;position:fixed;top:0;left:0;width:100%;height:100vh;overflow:hidden;background: rgba(0,0,0,0.1);z-index:9999;}
.alert_wrap .alert {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%); box-shadow: 5px 5px 15px rgba(0,0,0,0.1);background:#fff;padding:40px 50px;max-height:840px;overflow-y:scroll;z-index:999;border-radius: 5px;z-index:10;width:600px;max-height:500px;text-align: center;z-index:100;}
.alert.modal_big {width:800px;max-height:800px;text-align: center;}
.alert h3 {font-size:24px;font-weight: 700;}
.alert p {font-size:21px;font-weight: 500;margin:12px 0 0;}
.alert .noti_icon {text-align:center;display: block;margin:0 0 24px;}
.alert .noti_icon img {width: 80px;}
.alert{ -ms-overflow-style: none; } .alert::-webkit-scrollbar{ display:none; }
.alert span.alert_icon {color:#fff;font-weight: 900;display:inline-block;width:24px;height:24px;background: #dd0000;border-radius: 50%;margin:0 0 10px;line-height: 24px;}
.alert span.confirm_icon {color:#fff;font-weight: 900;display:inline-block;width:24px;height:24px;background: #2f81e9;border-radius: 50%;margin:0 0 10px;line-height: 24px;}

.modal_btn_box {display:flex; justify-content: flex-end; gap:10px;margin:30px 0 0; }
.modal_btn {border: 1px solid #a8a8a8;border-radius: 5px;display:inline-block;padding:0 20px;line-height: 32px;}
.modal_btn.on {border: 1px solid #003679;border-radius: 5px;display:inline-block;padding:0 20px;line-height: 32px;background: #003679;color: #fff;}
/* alert */


/* 스피너 */
.spinner {position:fixed;top:0;left:0;width:100%;height:100vh;overflow:hidden;background:rgba(255,255,255,0.4);z-index:9999;}
.spinner span {position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);padding:0 !important;color:#e72295;margin-left: -20px;}
.spinner span.error {color:#1976d2;}

div.select {border: 1px solid #ddd;height: 28px; line-height: 28px; font-size: 14px; color: #333; padding: 0 10px; cursor: pointer; border-radius: 5px;background:url('/public/img/common/arrow_btm.png') right 10px center no-repeat;}
div.select:focus-visible {outline:-webkit-focus-ring-color auto 1px;    border: 1px solid #000;}
div.select input:focus-visible {outline:-webkit-focus-ring-color auto 1px;    border: 1px solid #000;}
div.select:focus {outline:-webkit-focus-ring-color auto 1px;    border: 1px solid #000;}
div.select input:focus {outline:-webkit-focus-ring-color auto 1px;    border: 1px solid #000;}


/* 404 */
.error_page {padding:120px 0 0;text-align:center;height:100vh;background:#f2f2f2;}
.error_page > img {width:180px;}
.error_page a.backbtn {background:#fff;}
.error_page h3 {font-size: 32px;font-weight: 700;margin: 32px 0 15px;}

/* pagenation */
.pagenation ul {justify-content: center;margin:40px 0 0;}
.pagenation ul li {border-radius:5px !important;}
.pagenation ul li button {background:#f2f2f2;}
.pagenation ul li:first-child button, .pagenation ul li:last-child button {background:none;}


/* 팝업 */
.popup_wrap {position: fixed;top:10px;left:20px;z-index: 999;box-shadow: 3px 3px 10px rgba(0,0,0,0.2);}
.popup_wrap .popup {background: #fff;}
.popup_wrap .popup .popup_btm{background: #efefef;padding:10px;text-align: right;display: flex; justify-content: space-between;}
.popup_wrap .popup .popup_btm img {width:14px;cursor: pointer;}
.popup_wrap img {max-width: 100%;}
.popup_wrap input[type="checkbox"] {vertical-align: middle;margin:0 5px 0 0;}




/**** mobile layout *************************************************************************************************************/
@media screen and (max-width:640px) {
	/* 모달 */
	.modal_wrap .modal {width:95%;max-height:640px;padding:30px;}
	.modal_wrap .modal img {max-width:100%;}
    .modal_wrap .modal .modal_close {top:20px;right:20px;}
	h4.notice_title {font-size: 21px;}
	h4.notice_title + p.notice_date {font-size: 16px;}

    /* alert */
    .alert_wrap .alert {width:95%;}
}