@charset "utf-8";


@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('/public/font_hi/Pretendard-Regular.woff')  format('woff');
}  
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: bold;
    src: url('/public/font_hi/Pretendard-Medium.woff')  format('woff');
}  
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: bold;
    src: url('/public/font_hi/Pretendard-Bold.woff')  format('woff');
}  

@font-face {
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('/public/font_hi/GmarketSansTTFLight.woff')  format('woff');
}  

@font-face {
    font-family: 'GmarketSans';
    font-weight: 400;
    font-style: normal;
    src: url('/public/font_hi/GmarketSansTTFMedium.woff')  format('woff');
} 
@font-face {
    font-family: 'GmarketSans';
    font-weight: 900;
    font-style: bold;
    src: url('/public/font_hi/GmarketSansTTFBold.woff')  format('woff');
} 

@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('/public/font_hi/chab.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* */
* {box-sizing: border-box;;}
BODY {font-size:14px; color:#111; font-family: "Pretendard", Dotum, "돋움", Verdana, Arial, sans-serif;}
header {margin:0; padding:0;}
h5 {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
/* CSS reset Start*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

html {
	margin:0;
	padding:0;
	overflow-y: scroll; 
	
	width:100%;
	height:100%;

}

body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

table {
	border-collapse:collapse;
	border-spacing:0;
	padding:0;
	margin:0;
	width:100%;
}
fieldset,img { 
	border:0;
}

address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
a {
text-decoration:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
#noticeModalContent h1, #noticeModalContent h2, #noticeModalContent h3, #noticeModalContent h4, #noticeModalContent h5, #noticeModalContent h6, #noticeModalContent p{font-size:revert;font-weight: revert;}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* CSS reset End*/


/*LOW VER. IE SUPPORT HTML5*/
article, aside, hgroup, header, footer, figure, figcaption, section,time, mark, canvas, video, audio, details, summary {display:block;}


th {
	text-align:center;
	font-weight:bold;
}

a {color: #444444}
a:link {color: #444444; text-decoration:none}
a:visited {color: #444444; text-decoration:none}
a:active {color: #444444; text-decoration:none}
a:hover {color: #444444; text-decoration:none}

.input{border:1px solid #cccccc; background-color:#FFF;height:20px; vertical-align:middle; }
.input_select{border:1px solid #cccccc; background-color:#FFF;height:20px; vertical-align:middle; }
.input_select{border:1px solid #cccccc; background-color:#FFF;height:20px; vertical-align:middle; }
.input_text{border:1px solid #cccccc; background-color:#FFF; vertical-align:middle; height:18px; }
.input_text_field{border:1px solid #cccccc; width:95%; background-color:#FFF; vertical-align:middle; height:200px;}

.text_left {color:#444444; text-align:left;}
.text_center {color:#444444; text-align:center;}
.text_right {color:#444444; text-align:right;}

.insert_page_text {padding-left:20px;}
.insert_page_text_b {padding-left:20px;font-weight:bold}

#wrap {width:100%;}
#default_size {width:100%; text-align:center;}


